.header {
  background: #E1EDE6;
  padding: 32px 0;
  position: fixed;
  width: 100%;
}
.header__elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__elements .header-line,
.header__elements .header-menu {
  display: none;
}
.header__elements .header__nav {
  display: flex;
  gap: 60px;
}
.header__elements .header__nav #cart {
  transition: 0.3s ease;
}
.header__elements .header__nav #cart:hover {
  opacity: 0.5;
}
.header__elements .header__nav .nav__pages {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.header__elements .header__nav .nav__pages a {
  color: #2C2D35;
  transition: 0.3s ease;
  font-size: 20px;
}
.header__elements .header__nav .nav__pages a:hover {
  opacity: 0.5;
}

@media (max-width: 800px) {
  .header__elements .header__nav .nav__pages a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 16px 0;
  }
  .header__elements {
    flex-direction: column;
    align-items: normal;
  }
  .header__elements .header__logo {
    display: flex;
    justify-content: center;
  }
  .header__elements .header__nav {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
  .header .header-line {
    background: #C3D1C6;
    display: block;
    width: 100%;
    height: 1px;
    margin: 16px 0;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0;
  }
  .header .header__container {
    padding: 0;
  }
  .header__logo {
    width: 100%;
    background: #FFFFFF;
    padding: 16px 0;
  }
  .header .header-line {
    display: none;
  }
  .header__nav {
    padding: 16px 15px;
  }
  .header .nav__pages {
    display: none !important;
  }
  .header .header-menu {
    display: initial;
  }
}