html, body {
  width: 100vw;
  height: 100vh;
  font-family: Raleway-M;
  background: #F4F6F5;
  color: #2C2D35;
  cursor: default;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1150px;
  margin: 0px auto;
}
@media (max-width: 1230px) {
  [class*=__container] {
    padding: 0 40px;
  }
}
@media (max-width: 576px) {
  [class*=__container] {
    padding: 0 15px;
  }
}

*:focus {
  outline: none;
}