@import "./index";

.command {
	padding: 70px 0;

	&__elements {
		display: flex;
		gap: 30px;
	}

	&__text {
		margin-top: 124px;

		.command-title {
			font-size: 40px;
		}

		.command-subtitle {
			margin-top: 20px;
			font-size: 18px;
			line-height: 150%;
		}

		.command__employees {
			margin-top: 20px;
			display: flex;
			gap: 30px;

			.command-employee {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}
}

// MEDIA
@media (max-width: 1110px) {
	.command {
		&__elements {
			flex-direction: column;
			gap: 0;

			.command__text {
				margin-top: 40px;
			}
		}
	}
}

@media (max-width: 768px) {
	.command {
		&__elements {
			.command__background {
				img {
					width: 510px;
				}
			}

			.command__text {
				.command-title {
					font-size: 30px;
				}

				.command-subtitle {
					margin-top: 30px;
				}

				.command__employees {
					margin-top: 30px;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.command {
		padding: 50px 0;

		&__elements {
			.command__background {
				img {
					width: 100%;
				}
			}

			.command__text {
				margin-top: 30px;

				.command-title {
					font-size: 24px;
				}

				.command-subtitle {
					margin-top: 20px;
					font-size: 16px;
				}

				.command__employees {
					margin-top: 20px;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.command {
		padding: 60px 0 94px 0;

		&__elements {
			.command__text {
				.command-subtitle {
					margin-top: 20px;
					font-size: 16px;
				}

				.command__employees {
					margin-top: 30px;
					gap: 25px;
				}
			}
		}
	}
}
