@import "./index";

.primal {
	margin-top: 99px;

	&__elements {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;

		.primal__text {

			.primal-title {
				margin: 0;
				font-size: 60px;
				line-height: 110%;
	
				span {
					color: $green-dark-2;
				}
			}
	
			.primal-subtitle {
				margin-top: 20px;
				color: $gray-1;
				font-size: 18px;
				line-height: 150%;
			}

			.primal-button-main {
				margin-top: 60px;
			}

			.primal-button {
				@extend %buttons;
			}
		}
	}
}

// MEDIA
@media (max-width: 1100px) {
	.primal {
	
		&__elements {

			.primal__background {
				width: 50%;
				height: 380px;

				& img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
	
			.primal__text {
				width: 50%;
	
				.primal-title {
					font-size: 5vw;
					line-height: 100%;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.primal {
		&__elements {
			.primal__text {
				.primal-button-main {
					margin-top: 40px;

					.primal-button {
						padding: 19px 52px !important;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.primal {
		margin-top: 120px;
		padding: 50px 0;
	
		&__elements {

			.primal__background {
				width: 50%;
				height: 380px;

				& img {
					width: 100%;
					height: 100%;
					object-fit: fill;
				}
			}

			.primal__text {
				.primal-title {
					font-size: 5.8vw;
				}
	
				.primal-subtitle {
					font-size: 3vw;
				}
			}
	
			.primal-button-main {
				margin-top: 11px !important;
				
				.primal-button {
					padding: 41px 15px !important;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.primal {
		padding: 50px 0;

		.primal__background {
			display: none;
		}

		.primal__text{
			width: 100%;

			.primal-title {
				font-size: 11vw;
			}

			.primal-subtitle {
				font-size: 5vw;
			}
		}
	}
}

@media (max-width: 320px) {
	.primal {
		padding: 60px 0;

		.primal-button-main {
			margin-top: 40px !important;

			.primal-button {
				padding: 15px 30px !important;
			}
		}
	}
}

