$main-color: #F4F6F5;
$green-light-1: #E1EDE6;  
$blue-dark: #2C2D35;
$green-dark-2: #598D66;
$gray-1: #86928B;
$green-light-2: #D4E8D9;
$yellow-dark: #EEDB6D;
$white: #FFFFFF;
$green-dark-3: #376B44;
$green-light-3: #C3D1C6;

// Animation
$animation: .3s ease;

%buttons {
	padding: 20px 60px;
	font-size: 20px;
	background: transparent;
	color: $green-dark-2;
	border: 1px solid $green-dark-2;
	transition: $animation;
	cursor: pointer;

	&:hover {
		background: $green-dark-2;
		color: $main-color;
	}
}

%catalog-button {
	padding: 10px 20px;
	font-size: 20px;
	background: $green-light-2;
	transition: $animation;
	border-radius: 999px;
	cursor: pointer;

	&:hover {
		background: $green-dark-3;
		color: $main-color;
	}
}

%catalog-button-active {
	@extend %catalog-button;
	background: $green-dark-3;
	color: $main-color !important;
	cursor: default;
}